+section("adventures_gold-miners-route")
  .row
    h1 Follow the gold miners route
    p.description.
      The River Ivalojoki is one of the most impressive canoeing routes in Finland. It is surrounded by a
      ruggedly beautiful wilderness. Especially outside the flood seasons, this route is also suitable for
      beginners.
    hr
    :markdown
      The river Ivalojoki is interesting not only because of it's beautiful wilderness but also its gold history.
      In the museum area of Kultala you can learn about the gold panning traditions and legends of last century.
      You don't have to be a paddling expert. Our guide is a paddling instructor and can give tips if needed.
      Total paddling challenge is more than 70 km including several small rapids.


  .row-full.adventure-info
    .row
      :markdown
        ## Trek Includes

          * Transportations from Rovaniemi to Kuttura and back to Rovaniemi from Saariselkä

          * Canoe or kayaks with equipment

          * Visiting at The Crown Station of Kultala

          * 2 nights in tents, 1 night in a cabin at Saariselkä, farewell dinner in a restaurant (optional).


  .row
    :markdown
      ####Day 1

      300 km drive from Rovaniemi to Kuttura. We'll paddle about 20 km to The Crown Station ofKultala.

      ####Day 2

      Paddling through the gold mining history. We'll camp at Ritakoski. Total daytrip is 23 km.

      ####Day 3

      Today we meet the most challenging rapids. Paddling ends to Tolonen village.
      Last night we'll spend in a cottage, relaxing, having a sauna and good dinner at local restaurant (optional).

      ####Day 4

      Back to Rovaniemi, end of expedition. Possibility to visit at fell Kaunispää and at Fell Center Kiilopää.
      We'll reserve the rights to make changes to the daytrips, the routes or camping areas due to weather, water or safety conditions.
