+section("adventures_paddling-yllas")
  .row
    h1 Paddling through Ylläs-Pallas National Park
    h2.subtitle
      |Explore the river Ounasjoki from Hetta to Kittilä. This is the trip where you really forget the everyday life back home!
    hr

    :markdown
      The river Ounasjoki is the longest river which is completely within Finland’s borders and flows freely.
      It flows in its natural state through beautiful Lappish scenery.
      During the tour we'll explore Lappish nature and reindeer herding and also try to fish our dinners.
      On the route we'll explore the area by trekking on the fells or bogs.
      After a day’s paddling it is very refreshing to swim in the clear river and have a dinner by the fireplace.
      Last evening and night we'll spend at Levi relaxing after a long journey.

      You don't have to be a paddling expert. Our guide is a paddling instructor and can give tips if needed.
      Total paddling challenge is more than 100 km including several small rapids.

  .row
    .adventure-info
      :markdown

        ## Trek Includes:

          * Transportations from Rovaniemi to Hetta and back to Rovaniemi from Kittilä
          * Canoe or kayaks with equipment
          * Visit to the Fell Lapland Nature and Culture Centre Skierri
          * Option for a visit, accommodation, dinner and breakfast at reindeer farm in Raattama village.
          * 5 nights in tents, 1 night in a cabin at Kittilä/Levi, farewell dinner in a restaurant (optional).

  .row
    :markdown
      ####Day 1

      300 km drive from Rovaniemi to Hetta. In the middle of the way we have a possibility for
      dinner at the Levi Skiing Resort. In Hetta we'll visit Fell Lapland Nature and Culture Centre Skierri
      which presents the genuine Nomadic Sámi Culture.
      Paddling starts, basics about paddling. Camping nearby Yrjö Kokkos birdtower.Total daytrip 10 km.

      ####Day 2

      Paddling and fishing. Camping at Sioskoski dayhut. Total daytrip is about 13 km.

      ####Day 3

      10 km paddle to Ketomella. We'll make a short hike to lake Hietajärvi. Possibility for
      swimming and fishing. Total daytrip is about 10 km paddling and 6 km hiking.

      ####Day 4

      Paddle to Raattama village. We'll visit at reindeer family, have a dinner, sauna and
      accommodation in small huts (optional). Total daytrip is about 20 km.

      ####Day 5

      A challenging paddling day to Tepasto village. We will meet the biggest rapids today! Total
      daytrip is about 27 km.

      ####Day 6

      Last paddling day. We'll paddle near to Levi Skiing Resort, relax in a cottage having a
      sauna and good dinner at local restaurant (optional). Total daytrip is about 15-25 km.

      ####Day 7

      Back to Rovaniemi, end of expedition. Possibility to visit the Arktikum and Santa Claus Village.
      We'll reserve the rights to make changes to the daytrips, the routes or camping areas due to
      weather, water or safety conditions.
