+section("adventures")
  .row
    h1 Arctic adventures
    p.description
      ||[Description about section]
    hr
    a.feature(href='/adventures/paddling-yllas')
      img(src='/images/thumbnails/adventures/paddling-yllas.jpg')
      h3 Paddling through Ylläs-Pallas National Park (7 days, 6 nights)
      p.
        Explore the river Ounasjoki from Hetta to Kittilä. This is the trip where you really forget the
        everyday life back home!

    a.feature(href='/adventures/gold-miners-route')
      img(src='/images/thumbnails/adventures/gold-miners-route.jpg')
      h3 Follow the gold miners route, (4 days, 3 nights)
      p.
        The River Ivalojoki is one of the most impressive canoeing routes in Finland. It is surrounded by a
        ruggedly beautiful wilderness. Especially outside the flood seasons, this route is also suitable for
        beginners.
