+section("adventures")
  .row
    h1 Arctic adventures
    p.description.
      If you appreciate nature`s peace and stillness, sleeping in a tent or staying at a cozy wilderness cottage
      instead of a noisy cities and crowded hotels, these adventures are for you.

    hr
    p.
      We offer longer 3-14 days treks in Lapland by feet, bikes, canoes or kayaks.
      Also catching fish for dinner or picking eatable Finnish wilderness treats increases your experience in a fresh way.
      <br />
      <br />
      We will make an unforgettable experience for you; just let us know all your wishes!
    hr


    .feature
      .feature-image
        a(href='#!/adventures/paddling-yllas')
          img(src='images/thumbnails/adventures/paddling-yllas.jpg')

      .feature-description
        a.feature-title(href='#!/adventures/paddling-yllas')
          h3 Paddling through Ylläs-Pallas National Park (7 days, 6 nights)

        a(href='#!/adventures/paddling-yllas').
          Explore the river Ounasjoki from Hetta to Kittilä. This is the trip where you really forget the
          everyday life back home!

    .feature
      .feature-image
        a(href='#!/adventures/gold-miners-route')
          img(src='images/thumbnails/adventures/gold-miners-route.jpg')

      .feature-description
        a.feature-title(href='#!/adventures/gold-miners-route')
          h3 Follow the gold miners route, (4 days, 3 nights)
        a(href='#!/adventures/gold-miners-route').
          The River Ivalojoki is one of the most impressive canoeing routes in Finland. It is surrounded by a
          ruggedly beautiful wilderness. Especially outside the flood seasons, this route is also suitable for
          beginners.
