.section#main(data-bind='if: currentView() === "main", css: { "section-visible": currentView() === "main" }')
  .cover
    video(loop='', preload='none', data-bind='video: {}')
      source(src='videos/Ivalojoki_Skiexpo_2.mp4', type='video/mp4')
      source(src='videos/Ivalojoki_Skiexpo_2.ogg', type='video/ogg')

  .section-content
    .row
      h1 Tulikipinä
      p.description
        |Tulikipinä offers different kinds of nature activities and outdoor sports for both groups and individuals. Our main goal is to offer recreational activities and fun for small groups for a reasonable price.
      hr
      .aside.introduction
        .aside-column
          img(src='/images/winter-hiking.jpg')
        .aside-column
          ul
            li We don`t use any motorized activities or equipment, because our core value is keeping the environment’s natural peace and tranquility.
            li We offer both ready-to-go packages and tailor made trips. We also rent out our kayaks, canoes and other trekking equipment.
            li In the summertime all adventures are also available during nighttime under the Midnight Sun.
            li In winter, when Polar Darkness is surrounding us, nothing is more magical than the snowy forest under the bright moonlight reflecting off of the white snow!
      hr
  .cover.cover-summer

  .section-content
    .row#contacts
      .column.column1-2
        h2 Contact us
        ol.contacts
          li
            i.fa.fa-user
            | Vesa Rouvila
          li
            i.fa.fa-envelope
            | info@tulikipina.com
          li
            i.fa.fa-phone
            | +358 40 572 0174
        ol.contacts
          li
            i.fa.fa-map-marker
            | Leimaajankuja 2 C 6, 96460 Rovaniemi Finland
          li Tulikipinä 1710555-4
      .column.column1-2.facebook
        a(href='https://www.facebook.com/tulikipina', target='_blank')
          h2 Recent posts
        .facebook-feed(data-bind='facebook: {}')
          // ko foreach: feed
          .facebook-message
            a.message-body(data-bind='attr: { href: $data.link }, text: $data.message', target='_blank')
          // /ko
  .cover.map-cover
    #map(data-bind='map: {}')
