mixin rental-products(title, description)
  .rental-products(id!=attributes.id)
    h3.products-title= title
    if description
      p.products-description= description
    table.products-table
      block

+section("renting")
  h1 Rental gears
  .section-nav
    a(href='#!/renting/tents') Tents
    a(href='#!/renting/backbacks') Backbacks
    a(href='#!/renting/pulkas') Pulkas/Sledges
    a(href='#!/renting/canoes') Canoes
    a(href='#!/renting/kayaks') Kayaks
    a(href='#!/renting/cooking-stoves') Cooking stoves
    a(href='#!/renting/snowshoes') Snowshoes
    a(href='#!/renting/snowsafety') Snowsafety

  hr
  .row

    +rental-products("Tents")(id='renting-tents')
      tr
        td Vaude Space 3
        td 4 season dome for 3, 2 entrances, weight 3,7 kg
        td 15€ / day<br/>90€ / week
      tr
        td Vaude Ferret UL2
        td 3 season tunnel for 2. Weight only 2,0 kg!
        td 8€ / day<br/>50€ / week
      tr
        td Fjällraven Shape R/S 2
        td 3 season tunnel for 2. Weight 2.8 kg.
        td 8€ / day<br/>50€ / week


    +rental-products("Backpacks")(id='renting-backbacks')
      tr
        td Vaude Terkum 75+10,
        td
        td 8€ / day<br/>48€ / week

      tr
        td Vaude Terkum 65+10
        td
        td 8€ / day<br/>48€ / week

      tr
        td Vaude Astralight 50
        td
        td 4€ / day<br/>24€ / week

      tr
        td Vaude Daytour 30
        td
        td 4€ / day<br/>24€ / week


    +rental-products("Pulkas/Sledges")(id='renting-pulkas')
      tr
        td Savotta Paljakka
        td
        td 20€ / day<br/>100€ / week


    +rental-products("Canoes", "Including basic equipment as life vests and paddles, not transportation of canoes.")(id='renting-canoes')
      tr
        td Mad River Canoe 14 TT
        td for two, capacity 386 kg.
        td 25€ / day<br/>150€ / week


    +rental-products("Kayaks", "Including basic equipment as life vests and paddles, not transportation of kayaks.")(id='renting-kayaks')
      tr
        td Sea Bird
        td for tours, 4 m
        td 25€ / day<br/>150€ / week


    +rental-products("Cooking stoves")(id='renting-cooking-stoves')
      tr
        td Edelrid Hexon Multifuel
        td (220g) multifuel stove
        td 5€ / day<br/>30€ / week

      tr
        td Edelrid Kiro TI
        td (72g) gas stove
        td 5€ / day<br/>30€ / week

      tr
        td GAS Edelrid 230g
        td
        td 5€ / can

    +rental-products("Snowshoes")(id='renting-snowshoes')
      tr
        td Tubbs Mountaineer/Venture/Xpedition/Vaude
        td
        td 10€ / day<br/>60€ / week


    +rental-products("Snowsafety")(id='renting-snowsafety')
      tr
        td Avalanche Transceiver Arva Axis, probe Nic, showel Bca/Nic
        td
        td 8€ / day<br/>50€ / week

    .rental-products
      h3.products-title Other gears
      p.products-description
        a(href='#!/contacts') Ask for an offer.
