+section("renting")
  h1 Rental gears
  p.description
    |[Description about section]
  hr
  .row

    .feature
      .feature-description
        .feature-title
          h3 Tents
    table
      tr
        td Vaude Space 3
        td 4 season dome for 3, 2 entrances, weight 3,7 kg
        td 15€/day or 90€/week
      tr
        td Vaude Ferret UL2
        td 3 season tunnel for 2. Weight only 2,0 kg!
        td 8€/day or 50€/week
      tr
        td Fjällraven Shape R/S 2
        td 3 season tunnel for 2. Weight 2.8 kg.
        td 8€/day or 50€/week


    .feature
      .feature-description
        .feature-title
          h3 Backpacks
    table
      tr
        td Vaude Terkum 75+10,
        td
        td 8€/day or 48€/week

      tr
        td Vaude Terkum 65+10
        td
        td 8€/day or 48€/week

      tr
        td Vaude Astralight 50
        td
        td 4€/day or 24€/week

      tr
        td Vaude Daytour 30
        td
        td 4€/day or 24€/week


    .feature
      .feature-description
        .feature-title
          h3 Pulkas/Sledges
    table
      tr
        td Savotta Paljakka
        td
        td 20€/day or 100€/week


    .feature
      .feature-description
        .feature-title
          h3 Canoes

        span Including basic equipment as life vests and paddles, not transportation of canoes.
    table
      tr
        td Mad River Canoe 14 TT
        td for two, capacity 386 kg.
        td 25€/day or 150€/week


    .feature
      .feature-description
        .feature-title
          h3 Kayaks
        span Including basic equipment as life vests and paddles, not transportation of kayaks.
    table
      tr
        td Sea Bird
        td for tours, 4 m
        td 25€/day or 150€/week


    .feature
      .feature-description
        .feature-title
          h3 Cooking stoves
    table
      tr
        td Edelrid Hexon Multifuel
        td (220g) multifuel stove
        td 5€/day or 30€/week

      tr
        td Edelrid Kiro TI
        td (72g) gas stove
        td 5€/day or 30€/week

      tr
        td GAS Edelrid 230g
        td
        td 5€/can

    .feature
      .feature-description
        .feature-title
          h3 Snowshoes
    table
      tr
        td Tubbs Mountaineer/Venture/Xpedition/Vaude
        td
        td 10€/day or 60€/week


    .feature
      .feature-description
        .feature-title
          h3 Snowsafety
    table
      tr
        td Avalanche Transceiver Arva Axis, probe Nic, showel Bca/Nic
        td
        td 8€/day or 50€/week

    .feature
      .feature-description
        a.feature-title(href='/contacts')
          h3 Other gears
        a(href='/contacts') Ask for an offer.




