+section("summer")
  h1 Kes채
  p.description
    |Tuotteisiimme kuuluvat erilaiset ohjelmapalvelut, luontoel채mykset, seikkailut sek채 perinteiset er채oppaan palvelut.
  hr

  .grid
    .grid-row
      +grid-item('/images/thumbnails/summer/rafting.png')(href='/summer/rafting')
        |White Water Rafting
      +grid-item('/images/thumbnails/summer/trekking.png')(href='/summer/trekking')
        |Hikes and treks
      +grid-item('/images/thumbnails/summer/abseiling.png')(href='/summer/abseiling')
        |Abseiling

    .grid-row
      +grid-item('/images/thumbnails/summer/kayaking.png')(href='/summer/kayaking')
        |Kayaking and canoeing
      +grid-item('/images/thumbnails/summer/climbing.png')(href='/summer/climbing')
        |Climbing
