+section("summer")
  h1 Summer
  p.description.
    Activity, transport and beverages in one package - easy, efficient and convenient!
    If you need a few hours adventure in Rovaniemi region, don´t hesitate to contact us! All our summer
    adventures are also available during nighttime under the Midnight Sun.
  hr

  .grid
    .grid-row
      +grid-item('/images/thumbnails/summer/rafting.jpg')(href='/summer/rafting')
        |White Water Rafting
      +grid-item('/images/thumbnails/summer/trekking.jpg')(href='/summer/trekking')
        |Hikes and treks
      +grid-item('/images/thumbnails/summer/abseiling.jpg')(href='/summer/abseiling')
        |Abseiling

    .grid-row
      +grid-item('/images/thumbnails/summer/kayaking.jpg')(href='/summer/kayaking')
        |Kayaking and canoeing
      +grid-item('/images/thumbnails/summer/climbing.jpg')(href='/summer/climbing')
        |Climbing
