+section("winter")
  .row
    h1 Winter
    p.description.
      Activity, transport and beverages in one package - easy, efficient and convenient!
      If you need a few hours adventure in Rovaniemi region, don´t hesitate to contact us!
    hr
  .grid
    .grid-row
      +grid-item('/images/thumbnails/winter/ice-fishing.jpg')(href='#/winter/icefishing')
        |Ice fishing
      +grid-item('/images/thumbnails/winter/abseiling.jpg')(href='#/winter/abseiling')
        |Abseiling
      +grid-item('/images/thumbnails/winter/trekking.jpg')(href='#/winter/trekking')
        |Snowshoeing
