+section("winter")
  h1 Winter
  p.description
    |[Description about section]
  hr
  .grid
    .grid-row
      +grid-item('/images/thumbnails/winter/ice-fishing.jpg')(href='/winter/icefishing')
        |Ice fishing
      +grid-item('/images/thumbnails/winter/abseiling.jpg')(href='/winter/abseiling')
        |Abseiling
      +grid-item('/images/thumbnails/winter/trekking.jpg')(href='/winter/trekking')
        |Snowshoeing
