+section("winter")
  h1 Talvi
  p.description
    |Tuotteisiimme kuuluvat erilaiset ohjelmapalvelut, luontoelämykset, seikkailut sekä perinteiset eräoppaan palvelut.
  hr
  .grid
    .grid-row
      +grid-item('/images/thumbnails/winter/northern-lights.png')
        |Northern lights
      +grid-item('/images/thumbnails/winter/ice-fishing.png')
        |Ice fishing
      +grid-item('/images/thumbnails/winter/rope-descending.png')
        |Abseiling
    .grid-row
      +grid-item('/images/thumbnails/winter/trekking.png')
        |Trekking
