+section("winter")
  h1 Talvi
  p.description
    |Tuotteisiimme kuuluvat erilaiset ohjelmapalvelut, luontoelämykset, seikkailut sekä perinteiset eräoppaan palvelut.
  hr
  .grid
    .grid-row
      +grid-item('/images/thumbnails/winter/northern-lights.png')(href='/winter/northern-lights')
        |Northern lights
      +grid-item('/images/thumbnails/winter/ice-fishing.png')(href='/winter/ice-fishing')
        |Ice fishing
      +grid-item('/images/thumbnails/winter/abseiling.png')(href='/winter/abseiling')
        |Abseiling
    .grid-row
      +grid-item('/images/thumbnails/winter/trekking.png')(href='/winter/trekking')
        |Trekking
