+view("adventures")
  .page.page-visible(data-bind='css: { "page-visible": page() === "main" }')
    // ko with: data
    .cover
      .cover-overlay
        .cover-overlay-content
          h1(data-bind='text: title')
          h2(data-bind='text: subtitle')

    .view-content
      .row
        blockquote(data-bind='text: content')

        .adventures(data-bind='foreach: $parent.adventures')
          .adventure(data-bind='with: $parent.adventures[$data].intro')
            .adventure-image
              a(data-bind='attr: { href: "#!/adventures/" + $parent }')
                img(data-bind='attr: { src: thumbnail }')
            .adventure-description
              a.adventure-title(data-bind='attr: { href: "#!/adventures/" + $parent }')
                h4(data-bind='text: title')
              a(data-bind='attr: { href: "#!/adventures/" + $parent }, markdown: description')

    // /ko
  .page.page-visible(data-bind='css: { "page-visible": page() !== "main" }, with: data')
    // ko with: adventures[$parent.page()]

    .cover(data-bind='style: { backgroundImage: "url(" + cover + ")"}')
      .cover-overlay
        .cover-overlay-content
          h1(data-bind='text: title')
          h2(data-bind='text: subtitle')
    .view-header
      .row
        .view-nav
          a.btn(href='#!/adventures', data-bind='text: $parent.button.backToMain')
    .view-content
      .row
        .markdown(data-bind='markdown: content')

      .row
        .adventure-info(data-bind='markdown: includes')

      .row
        .markdown(data-bind='markdown: timeline')
    // /ko

