+view("adventures")
  .page.page-visible(data-bind='css: { "page-visible": page() === "home" }')
    // ko with: content
    .cover
      .cover-overlay
        .cover-overlay-content
          h1.cover__title(data-bind='text: title')
          h2.cover__subtitle(data-bind='text: subtitle')

    .view-content
      .row
        blockquote(data-bind='text: content')
        .adventures(data-bind='foreach: $parent.activities')
          .adventure(data-bind='with: $parent.activities[$data]')
            .adventure-image
              a(data-bind='attr: { href: "#!/adventures/" + id }')
                img(data-bind='attr: { src: thumbnail }')
            .adventure-description
              a.adventure-title(data-bind='attr: { href: "#!/adventures/" + $parent }')
                h4
                  span(data-bind='text: title')
                  |  (
                  span(data-bind='text: duration')
                  |)
              a(data-bind='attr: { href: "#!/adventures/" + $parent }, markdown: subtitle')

    // /ko
  .page.page-visible(data-bind='css: { "page-visible": page() !== "home" }, with: content')
    // ko with: activities[$parent.page()]

    .cover(data-bind='style: { backgroundImage: "url(" + cover + ")"}')
      .cover-overlay
        .cover-overlay-content
          h1.cover__title(data-bind='text: title')
          h2.cover__subtitle(data-bind='text: subtitle')
    .view-header
      .row
        .view-nav
          a.btn(href='#!/adventures', data-bind='text: backButton')
    .view-content
      .row
        .markdown(data-bind='markdown: content')
    // /ko

