+view("home")(class='view-visible')
  .page.page-visible(data-bind='with: content')
    .cover
      video(loop='', preload='none', data-bind='video: {}', poster='images/covers/video.jpg')
        source(src='videos/Ivalojoki_Skiexpo_2.mp4', type='video/mp4')
        source(src='videos/Ivalojoki_Skiexpo_2.ogg', type='video/ogg')
      .cover-overlay
        .cover-overlay-content
          h1.cover__title= views.home.title
          h2.cover__subtitle= views.home.subtitle
    .view-header.is-separator
    .view-content
      .row
        .column.column2-3
          != markdown(views.home.content)
        .column
          tk-facebook

    .cover.cover-instagram
      tk-instagram

    .view-content#contacts
      tk-map
      .row
        .column
          include ../../coffee/components/contacts/index
