+view("home")(class='view-visible')
  .page.page-visible(data-bind='with: content')
    .cover
      video(loop='', preload='none', data-bind='video: {}', poster='images/covers/video.jpg')
        source(src='videos/Ivalojoki_Skiexpo_2.mp4', type='video/mp4')
        source(src='videos/Ivalojoki_Skiexpo_2.ogg', type='video/ogg')
      .cover-overlay
        .cover-overlay-content
          img(src='images/logo.png')

    .view-content
      .row
        .column.column2-3(data-bind='markdown: about')
        .column.facebook(data-bind='with: feed')
          h3
            a(href='https://www.facebook.com/tulikipina', target='_blank')
              i.fa.fa-facebook
            span(data-bind='text: title')

          tk-facebook
    .cover.cover-instagram
      tk-instagram

    .view-content#contacts
      .row
        .column
          tk-contacts

      tk-map
