+view("main")
  .page.page-visible(data-bind='with: data')
    .cover
      video(loop='', preload='none', data-bind='video: {}')
        source(src='videos/Ivalojoki_Skiexpo_2.mp4', type='video/mp4')
        source(src='videos/Ivalojoki_Skiexpo_2.ogg', type='video/ogg')

    .view-content
      .row
        h1(data-bind='text: title')
        h2.subtitle(data-bind='text: subtitle')
        hr
        .aside.introduction
          .aside-column
            img(src='images/winter-hiking.jpg')
          .aside-column(data-bind='markdown: content')


    .cover.cover-summer

    .view-content
      .row#contacts

        .column.column1-2(data-bind='with: contacts')
          h2(data-bind='text: title')
          ol.contacts
            li
              i.fa.fa-user
              span(data-bind='text: name')
            li
              i.fa.fa-envelope
              span(data-bind='text: email')

            li
              i.fa.fa-phone
              span(data-bind='text: phone')

          ol.contacts
            li
              i.fa.fa-map-marker
              span(data-bind='text: address')

            li(data-bind='text: company')

        .column.column1-2.facebook(data-bind='with: feed')
          a(href='https://www.facebook.com/tulikipina', target='_blank')
            h2(data-bind='text: title')
          .facebook-feed(data-bind='facebook: {}')
            // ko foreach: feed
            .facebook-message
              a.message-body(data-bind='attr: { href: $data.link }, text: $data.message', target='_blank')
            // /ko
          .fb-like(data-href='https://www.facebook.com/tulikipina', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')

    .cover.map-cover
      #map(data-bind='map: {}')
