+view("renting")
  .page.page-visible(data-bind='with: data')
    .cover
    .view-header
      .row
        h1(data-bind='text: title')
        .view-nav(data-bind='foreach: $parent.categories')
          a(data-bind='attr: { href: "#!/renting/" + $data.id }, text: $data.category.title')

    .view-content
      .row(data-bind='foreach: $parent.categories')
        .rental-products(data-bind='attr: { id: "renting-" + id }')
          h3.products-title(data-bind='text: category.title')
          // ko if: category.description
          p.products-description(data-bind='markdown: category.description')
          // /ko
          table.products-table
            thead
              tr
                th
                th
                th
                  // ko if: category.thumbnail
                  img.product-image(data-bind='attr: { src: category.thumbnail }')
                  // /ko
            tbody(data-bind='foreach: category.items')
              tr
                td(data-bind='markdown: title')
                td.product-description
                  // ko if: $data.description
                  div(data-bind='markdown: description')
                  // /ko
                td(data-bind='markdown: price')

