+view("renting")
  .page.page-visible(data-bind='with: data')
    .cover
      .cover-overlay
        .cover-overlay-content
          h1(data-bind='text: title')

    .view-header
      .row
        .view-nav(data-bind='foreach: $parent.categories')
          a.btn(data-bind='attr: { href: "#!/renting/" + $data.id }, text: $data.category.title')

    .view-content(data-bind='foreach: $parent.categories')

      .rental-products(data-bind='attr: { id: "renting-" + id }')
        .products-intro
          // ko if: category.thumbnail
          .products-image
            img(data-bind='attr: { src: category.thumbnail }')
          // /ko
          .products-info
            h2.products-title(data-bind='text: category.title')
            // ko if: category.description
            .products-description(data-bind='markdown: category.description')
            // /ko
        table.products-table
          tbody(data-bind='foreach: category.items')
            tr
              td(data-bind='markdown: title')
              td.product-description
                // ko if: $data.description
                div(data-bind='markdown: description')
                // /ko
              td(data-bind='markdown: price')

