+view("winter")
  .page.page-visible(data-bind='css: { "page-visible": page() === "home" }')
    // ko with: content
    .cover
      .cover-overlay
        .cover-overlay-content
          h1.cover_title(data-bind='text: title')
          h2.cover_subtitle(data-bind='markdown: subtitle')

    .view-content
      blockquote(data-bind='text: content')
      .grid(data-bind='foreach: $parent.rows')
        .grid-row(data-bind='foreach: $data')
          a.grid-item(data-bind='attr: { href: "#!/winter/" + id }, css: { "previous-grid-item": $parents[2].previousActivity() === id }')
            .grid-item-content(data-bind='style: { backgroundImage: "url(" + activity.thumbnail + ")"}')
              .overlay
                .overlay-content
                  .overlay-text(data-bind='text: activity.title')

    // /ko
  .page.page-visible(data-bind='with: content, css: { "page-visible": page() === "activity" }')
    div(data-bind='with: activities[$parent.activity()]')
      .cover(data-bind='style: { backgroundImage: "url(" + cover + ")"}')
        .cover-overlay
          .cover-overlay-content
            h1.cover__title(data-bind='text: title')
            h2.cover__subtitle(data-bind='text: subtitle')
      .view-header
        .row
          .view-nav
            a.btn(href='#!/winter', data-bind='text: $parent.button.backToMain')

      .view-content
        .row.markdown(data-bind='markdown: content')
