.contacts
  h3
    span= contacts.title

  ol.contacts__list
    li
      i.fa.fa-user
      span= contacts.name
    li
      i.fa.fa-envelope
      span
        !=markdown(contacts.email)

    li
      i.fa.fa-phone
      span= contacts.phone

    li
      i.fa.fa-map-marker
      span
        !=markdown(contacts.address)

    li= contacts.company
