.footer
  .row



    a(href='https://www.facebook.com/tulikipina', target='_blank'): i.fa.fa-facebook
    a(href='http://www.tripadvisor.com/Attraction_Review-g189922-d3853721-Reviews-Tulikipina_Artic_Adventures-Rovaniemi_Lapland.html', target='_blank')
      .tripadvisor-icon
    ||
    a(href='#!/contacts') Contact us
