tk-instagram
  height 100%

.insta-feed
  height 100%
  position relative
  img
    width 16.6667%
    margin 0
    display block
    float left

.insta-feed__logo
  position absolute
  width 32px
  height 32px
  top 1em
  left 1em
  background url('/images/instagram.png')
  background-size 100% 100%
