@import 'components/instagram'
@import 'components/contacts'
@import 'components/footer'
@import 'components/map'
@import 'components/facebook'

.btn
  background transparent
  border 2px solid #fff
  color #fff
  font inherit
  text-transform uppercase
  padding 1em 2em
  font-size 1.1em
  cursor pointer
  &:hover
    background rgba(0, 0, 0, 0.3)

blockquote
  font-size 1.3em
  color textColorLight
  text-align center
  font-style italic
  max-width 70%
  margin auto
  margin-bottom 1em

.cover
  height 500px
  background-size cover
  background-repeat no-repeat
  background-position center center
  position relative
  @media breakpoint1
    height 250px

  &:after
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    content ''
    pointer-events none
    background rgba(70, 40, 0, 0.15)
  &:first-child
    &:after
      background rgba(70, 40, 0, 0.4)

  .cover-overlay
    width 100%
    height 100%
    top 0
    left 0
    display table
    position absolute
    z-index 2

  .cover-overlay-content
    display table-cell
    vertical-align middle
    text-align center
    color #fff
    padding 1em
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)
    h1
      font-size 7em
      titleFont()
    h2
      max-width 800px
      text-align center
      margin auto
      color #F4F5F2
      font-size 1.5em
      font-family inherit



    @media breakpoint5
      h1
        font-size 5em

    @media breakpoint3
      h1
        font-size 4em

    @media breakpoint1
      h1
        font-size 2em
      h2
        font-size 1em

.grid
  padding 0
  margin 0 auto
  margin-top 2em

.grid-row
  overflow hidden

@keyframes fadeOpacity
  0%
    opacity 0

  100%
    opacity 1

@keyframes scaleDown
  0%
    transform scale(1.1, 1.1)

  100%
    transform scale(1, 1)


.grid-item
  float left
  display block
  width (100/3)%

  box-sizing border-box
  overflow hidden
  position relative
  cursor pointer
  color inherit

  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

  .grid-item-content
    width 100%
    position relative
    background-size cover
    background-position center center
    transition transform 300ms
    &:hover
      transform scale(1.1, 1.1)
    &:before
      content ''
      display block
      padding-top 50%

  .overlay
    position absolute
    width 100%
    height 100%
    bottom 0
    left 0
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)
    text-align center
    font-size 1.3em
    color #fff
    background rgba(70, 40, 0, 0.5)
    opacity 1
    transition opacity 0.3s

    &:hover
      opacity 0

  .overlay-content
    display table
    width 100%
    height 100%

  .overlay-text
    titleFont()
    font-weight 400
    text-transform uppercase
    vertical-align middle
    display table-cell
    font-size 1.5em

  @media breakpoint4
    width auto
    float none
    padding 0
    margin-bottom 1em

  &.previous-grid-item
    animation scaleDown 0.6s
    .overlay
      animation fadeOpacity 0.5s

#header
  width 100%
  height 65px
  padding 0 0.5em
  position fixed
  top 0
  left 0
  line-height 65px
  z-index 3
  background #fff
  user-select none
  .logo
    width (103/2.5)px
    height (117/2.5)px
    vertical-align middle

  .nav
    -webkit-font-smoothing antialiased
    text-transform uppercase
    letter-spacing 1px
    height 100%
    display inline-block
    font-size 1em
    margin-left 0.5em
    a
      height 100%
      padding 0 1em
      display inline-block
      color textColor
      text-decoration none
    .selected
      color #EA202D

  .header-toggle
    padding 0 1.5em
    display none
    position relative
    z-index 2
    background #fff

  @media breakpoint3
    padding 0
    opacity 1 !important
    display block
    z-index 3
    .logo
      position absolute
      right 10px
      top 50%
      margin-top -23px
      z-index 3

    .header-toggle
      display block

    .nav
      background #fff
      margin 0
      display block
      height auto
      transition all 0.2s
      transform translateY(-120%)
      &.nav-visible
        transform translateY(0px)
      a
        display block
        border-bottom 1px solid #eee
        &:first-child
          border-top 1px solid #eee



.intro
  text-align center
  .intro-icon
    position relative
    font-size 3em
    display inline-block

  .intro-icon-combined
    i
      position relative
      color rgba(0, 0, 0, 0.3)

  .icon-overlay
    position absolute
    top 50%
    margin-top -0.6em
    left 0
    font-size 0.7em
    i
      color inherit
  .intro-text
    font-size 1.2em
  .column
    padding 0 1em

.facebook
  @media breakpoint3
    display none

.adventures
  margin-top 3em
  margin-bottom 3em

.adventure
  padding 1em 0
  display block
  display table
  margin-bottom 1em
  &:last-child
    margin-bottom 0
  .adventure-image,
  .adventure-description
    display table-cell
    vertical-align middle

  .adventure-description
    padding-left 1em
    a
      color textColorLight
    a:hover
      text-decoration underline
    p
      margin 0
      margin-top 0.2em

  a.adventure-title
    &:hover
      text-decoration none

  .adventure-title
    h4
      titleFont()
      margin 0
      font-size 1.5em
      font-weight 400
      text-transform none
      color textColor
      text-decoration none
  .adventure-image
    img
      width 50px
      border-radius 25px
      vertical-align bottom

.rental-products
  position relative

  .products-info, .products-image
    display table-cell
    vertical-align middle

  .products-image
    width 50px
    img
      margin-right 1em
      width 50px
      height 50px

  .products-intro
    width 100%
    display table
    padding-left 1em
    position relative
    vertical-align middle
    margin-bottom 1em
  .products-title
    titleFont()
    font-weight 400
    text-transform none
    color textColorLight
    text-decoration none
    font-size 1.5em

  .products-description
    p
      margin 0

  .products-table
    width 100%
    border-collapse collapse
    color textColorLight

    strong
      font-size 1.4em
      color #8CC061

    td
      padding 0em 1em

    td:first-child
      width 30%
      text-align left
      font-weight 400
      font-size 1.1em
      color textColor

    td:last-child
      width 100px


    tr:nth-child(odd)
      background #faf7f2
      td
        background #faf7f2
        color #9a9389
      td:first-child
        color #696259

    @media breakpoint2
      display block
      tr, td, tbody
        display block

      tbody
        tr
          overflow hidden

      td
        background transparent !important
        width auto !important
        border-bottom 0

      p
        margin 0
      td
        text-align left
        margin-right 70px

      td:last-child
        font-weight 300
        padding 1em
        float right
        margin-right 0
      td:first-child
        font-weight 400
        padding-top 1em
      .product-description
        min-height 1em

.adventure-info
  padding 2em 0 0 0
  ul
    padding-left 2em

ul
  list-style none
  padding 0
  li
    margin-bottom 1em
    position relative

    &:before
      width 5px
      height 5px
      display inline-block
      vertical-align middle
      margin-right 0.5em
      border-radius 1em
      top 50%
      left 0
      background #8DB6FD
      content ''

  li:last-child
    margin-bottom 0


.markdown
  ul
    margin 3em 0
    padding 0

  h2
    margin-top 2em

  a
    color linkColor

