body, html
  margin 0
  height 100%
  font-family 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-weight 300
  font-size 14px
a
  text-decoration none
  color linkColor
  img
    border 0

h1
  font-size 3.5em
  text-align center
  text-transform uppercase
  @media breakpoint1
    font-size 3em

h1, h2
  font-weight 300
  margin 0
  titleFont()

h2
  i
    font-size 2em
    margin-right 0.3em

hr
  border 0
  border-top 1px solid borderColor
  width 70%
  margin 3em auto

.view
  min-height 100%
  overflow hidden
  display none
  box-sizing border-box
  color textColor
  background #fff
  position relative

  .cover:first-child
    margin-top 65px

.view-header
  padding 2em 0
  background #46474B
  color #fff

.view-visible
  display block

.view-content
  overflow hidden
  padding 3em 0
  h3
    i
      margin-right 0.5em
.page
  display none
  padding-bottom footerHeight
  &.page-visible
    display block

.row, .view-nav
  max-width maxWidth
  padding 0 2em
  margin auto
  overflow hidden

  @media breakpoint4
    padding 0 1em

.row
  .column
    width (100/3)%
    float left
    box-sizing border-box
    padding-right 2em
    &:last-child
      padding-right 0
  .column2-3
    width (100/3*2)%

  @media breakpoint2
    .column
      width auto
      max-width initial
      float none


.view-nav
  text-align center
  margin-top 0
  padding 1em 0
  a
    margin 0 1em
    display inline-block

