@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto+Condensed')

@import 'variables'
@import 'layout'
@import 'components'

// Views

#home
  .cover:first-child
    height 700px
    @media breakpoint1
      height 400px

  .view-content
    z-index 2
    position relative
    box-shadow 0px 0px 1px 1px rgba(0, 0, 0, 0.2)
  .view-content:last-child
    box-shadow 0px -1px 1px rgba(0, 0, 0, 0.2)

  .cover:first-child
    overflow hidden
    background-image url('../images/covers/index.jpg')
    video
      position absolute
      top 0
      right 0px
      min-width 100%
      min-height 100%
      width auto
      height auto
  .map-cover
    &:after
      background transparent

#contacts
  .map
    width 66%
    height 100%
    position absolute
    right 0
    top 0

  @media breakpoint2
    .map
      display none

#adventures
  .cover
    background-image url('../images/covers/adventures.jpg')

.cover-instagram
  overflow hidden
  height auto
  min-height 300px
  @media breakpoint4
    min-height auto

.cover-winter
  background-image url('../images/covers/index.jpg')

.cover-summer, #summer .cover
  background-image url('../images/covers/summer.jpg')

#winter
  .cover
    background-image url('../images/covers/winter.jpg')

#summer
  .grid-row:first-child
    .grid-item
      width 50%
      @media breakpoint4
        width auto

#summer, #winter
  .view-content
    padding-bottom 0

#renting
  .cover
    background-image url('../images/covers/renting.jpg')

  .rental-products
    margin-top 3em
    margin-bottom 5em

  .rental-products:last-child
    margin-bottom 0

  .view-nav
    a
      margin 0.75em 1em
