textColor = #46474b
textColorDark = #202123
linkColor = #428bca
descriptionColor = #6e7076
maxWidth = 1045px
textColorLight = #777
borderColor = #dee5f0
footerHeight = 40px
breakpoint1 = "all and (max-width: 550px)"
breakpoint2 = "all and (max-width: 700px)"
breakpoint3 = "all and (max-width: 800px)"
breakpoint4 = "all and (max-width: 900px)"
breakpoint5 = "all and (max-width: 1000px)"
breakpoint6 = "all and (max-width: %s)" % maxWidth

titleFont()
  font-family 'Bebas', sans-serif
