doctype html
html
  head
    title Tulikipinä
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='retkeily,rovaniemi,lappi,lapland,adventures,northern lights, ice fishing')

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26992885-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    script(async, src='js/bundle.js')
    link(rel='stylesheet', href='css/style.css')

    link(rel='apple-touch-icon', sizes='57x57', href='apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='mstile-144x144.png')
    meta(name='apple-mobile-web-app-capable', content='yes')

  body
    #fb-root
    //- Facebook
    script(type='text/javascript').
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=268020993311511";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .header(data-bind='header: { threshold: 150, max: 500 }')
      .header-toggle(data-bind='click: toggleNavigation')
        i.fa.fa-bars
      img.logo(src='images/logo.svg')
      .nav(data-bind='css: { "nav-visible": navigationVisible }')
        a(href='#!/', data-bind='css: { selected: currentView() === "home" }') Tulikipinä
        a(href='#!/adventures', data-bind='css: { selected: currentView() === "adventures" }') Arctic Adventures
        a(href='#!/summer', data-bind='css: { selected: currentView() === "summer" }') Summer
        a(href='#!/winter', data-bind='css: { selected: currentView() === "winter" }') Winter
        a(href='#!/renting', data-bind='css: { selected: currentView() === "renting" }') Rental gear

    mixin view(name)
      .view(class!=attributes.class, id=name, data-bind='if: currentView() === "#{name}", css: { "view-visible": currentView() === "#{name}" }')
        | <!-- ko with: views["#{name}"] -->

        block

        | <!-- /ko -->

    include views/index
    include views/adventures
    include views/summer
    include views/winter
    include views/renting

    tk-footer

