doctype html
html
  head
    title Tulikipin채
    link(rel='stylesheet', href='/css/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='retkeily,rovaniemi,lappi,lapland,adventures,northern lights, ice fishing')
  body
    #fb-root

    header#header(data-bind='header: { threshold: 150, max: 500 }')
      img.logo(src='/images/header-logo.png')
      nav
        a(href='/') Tulikipin채
        a(href='/adventures') Arctic Adventures
        a(href='/summer') Kes채
        a(href='/winter') Talvi
        a(href='/renting') Vuokraus

    mixin section(name)
      .section(id=name, data-bind='if: currentView() === "#{name}"')
        .cover
        .section-content
          block

    mixin grid-item(background)
      a.grid-item(href!=attributes.href)
        .grid-item-content(data-bind='style: { "background-image": "url(#{background})" }')
          .overlay
            .overlay-text
              block

    include sections/index
    include sections/adventures
    include sections/adventures/paddling-yllas
    include sections/adventures/gold-miners-route
    include sections/summer
    include sections/winter
    include sections/renting

    #footer
      a(href='/') Tulikipin채
      a(href='/contacts') Yhteystiedot
      a(href='https://www.facebook.com/tulikipina', target='_blank') Facebook

    script(src='http://maps.google.com/maps/api/js?sensor=true')
    script(src='/js/bundle.js')
