.facebook-feed
  .facebook-feed-wrapper
    // ko foreach: messages
    .feed-message
      .feed-message__body
        a(data-bind='attr: { href: $data.link }', target='_blank')
          h4(data-bind='text: $data.message')
        .feed-message__timestamp
          span(data-bind='timeago: $data.created_time')
        p
          img(data-bind='if: $data.picture, attr: { src: $data.picture }')
          span(data-bind='text: $data.description')
    // /ko
